body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.active {
  color: #e1e440;
  font-weight: 700;
  text-decoration: none;
  margin-right: 1rem;
}
.active:visited{
  color: #e1e440;
  font-weight: 700;
  text-decoration: none;
}
.notActive {
  color: #e5e5e5;
  text-decoration: none;
  margin-right: 1rem;
}

.myNavbar{
  flex-wrap: nowrap !important;
}

.section{
  margin: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section__title{
  margin-bottom: 3rem;
}
.section__select{
  margin-bottom: 2rem;
}

 .myCard{
  display: flex;
  padding: 1rem;
  text-align: left;
  align-items: center;
} 

.pokeName{
  font-weight: 800;
}

.fire{
  background-color: rgb(252, 244, 222) !important;
}

.grass{
  background-color: rgb(235, 247, 227) !important;
}
.water{
  background-color: rgb(240, 251, 255) !important;
}
.bug{
  background-color: rgb(250, 239, 239) !important;
}
.normal{
  background-color: rgb(247, 247, 247) !important;
}
.poison{
  background-color: rgb(231, 230, 253) !important;
}
.electric{
  background-color: rgb(254, 255, 234) !important;
}
.ground{
  background-color: rgb(244, 235, 227) !important;
}
.fairy{
  background-color: rgb(255, 246, 251) !important;
}
.ground{
  background-color: rgb(244, 235, 227) !important;
}

@media only screen and (max-width: 600px){
  .fire, .grass, .water, .bug, .normal, .poison, .electric, .ground, .fairy{
    flex-wrap: wrap;
  }
}